.MuiDialog-container {
    background: #00000014 !important;
}

.MuiTypography-root {

}

.MuiPaper-root{

}

.MuiDialogActions-root {

}

.MuiDialogContent-root {

}

.MuiDialog-container .MuiPaper-root {
    background-color: #131313 !important;
    border: 1px solid #050505;
    border-radius: 10px;
    border-top: 1px solid #262626;
}
.folderLink {
    text-decoration: none;
    width: 80%;
    float: left;
    margin-top: 5px;
}
.dialogFolderIcon {
    color: #c1c1c1;
    float: left;
    margin-top: -4px;
    margin-left: 6px;
}
.validFolderText .dialogFolderIcon {
    float: right;
    position: absolute;
    right: 20px;
    margin-top: -37px;
}
.folderLink div {
    border: 1px solid #101010;
    float: left;
    width: 100%;
    text-align: center;
    padding: 10px;
    border-radius: 6px;
}

.dialogFolderIcon:hover {
    color: white;
}

.MuiButton-textPrimary {
    background: #131313 !important;
    color: grey !important;
}

.dialogError ul {
    width: 400px;
    align-content: stretch;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin-top: -2px;
    padding-right: 0px !important;
}

.dialogError ul li {
    min-width: auto !important;
    height: 30px;
    box-sizing: border-box;
    padding-top: 6px;
    align-items: center !important;
    color: #444444;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.hiddenInput {
    display: none;
}

.idleFolderLink {
    text-decoration: none;
    width: 80%;
    float: left;
    margin-top: 5px;
    border: 1px solid#0a0a0a;
    box-sizing: border-box;
    box-shadow: 0px 1px 0px 0px #0000004f;
    border-radius: 4px;
}
.idleFolderLink:hover {
    background: #242424;
    border: 1px solid #0e0e0e;
}

.idleFolderIcon {
    color: #c1c1c1;
    float: left;
    margin-top: 4px;
    margin-left: 7px;
    margin-right: 2px;
}

.idleFolderLink label {
    width: 80%;
    float: left;
    font-size: 0.8em;
    cursor: pointer;
    color: #c1c1c1;
    padding: 7px;
    font-weight: normal;
}
.dialogError {
    color: #ababab;
    float: right;
    display: flex;
    text-align: right;
    position: absolute;
    font-size: 0.9em;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    flex-wrap: wrap;
    bottom: 68px;
    flex-direction: row;
    overflow: hidden;
    height: 31px;
    box-sizing: border-box;
    clear: both;
    right: 68px;
    width: 321px;
}

.diagNotice {
    color: white;
    float: right;
    position: relative;
    font-size: 0.9em;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 56px;
}

.dialogLabel.gameFolder {
    padding-top: 9px;
}


.ui-dialog ul {
    list-style: none;
    padding-left: 0px;
    padding-right: 20px;
    font-weight: 600;
}

.ui-dialog .dialogValue input {
    font-weight: normal !important;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #060606c7;
    color: #d3d3d3;
    font-family: system-ui;
    font-size: 1em;
    background: #232323;
    border-radius: 4px;
    padding: 10px;
}

.ui-dialog ul li {
    display: flex;
    min-width: 450px;
    align-content: stretch;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 10px;
    align-items: center;
}


.MuiDialogContent-root {
    padding: 20px 24px;
    background: #1a1a1a;
    border-top: 1px solid #080808;
    box-shadow: inset 0px 2px 6px 0px black;
    padding-top: 10px !important;
}
.ui-dialog ul li .dialogValue {
    width: 70%;
}
.fileLoaderIcon  {
    width: 40px;
    height: 40px;
    margin-left: 109px;
    position: absolute;
    margin-top: -11px;
}
.folderLink label {
    width: 80%;
    float: left;
    font-size: 0.8em;
    cursor: pointer;
    color: #c1c1c1;
}
.MuiDialogActions-root {
    background: #101010;
    border-top: 1px solid #0000002e;
    color: white;
    text-align: center;
    flex-direction: row;
    align-items: center !important;
    -webkit-box-pack: start !important;
    justify-content: space-between !important;
    -webkit-box-align: center !important;
    align-content: flex-start;
    box-shadow: inset 0px 2px 0px 0px #121212;
    
}


.validFolderChangeIcon {
    float: right;
    position: absolute;
    right: 20px;
    margin-top: -40px;
    color: grey;
}
.dialogValue .displayNameErrorAlertIcon {
    float: right;
    position: absolute;
    margin-right: 25px;
    margin-top: 7px;
    right: 0;
    color: #810000;
}
.dialogValidFolderIcon {
    position: absolute;
    right: 26px;
    top: 155px;
    color: #939393;
}
.disabledValidFolder {
    color: grey !important;
    text-overflow: ellipsis;
}
.dialogValue .displayNameErrorValidIcon {
    float: right;
    position: absolute;
    margin-right: 25px;
    margin-top: 7px;
    right: 0;
    color: green;
}
.MuiDialogActions-root button {
    width: 150px;
    padding: 10px;
}
.ui-dialog ul li .dialogLabel {
    width: 25%;
    color: #8f8f8f;
    font-size: 0.9em;
    font-weight: 500;
    text-align: center;
}

.ui-dialog .MuiCircularProgress-svg {
    color: #838383;

}
.displayNameValidAlertIcon {
    float: right;
    position: absolute;
    margin-right: 25px;
    margin-top: 7px;
    right: 0;
    color: #939393;
}
.ui-dialog input {
    padding: 5px;
    width: 285px;
}
.ui-dialog h2 {
    background: #0a0a0a;
    color: #838383;
    border-top: 1px solid #070606;
    border-left: 1px solid #070606;
    border-right: 1px solid #070606;
    font-size: 1em;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

.validFolderText {
    float: left;
    width: 100%;
    font-size: 0.9em;
    color: #e7e7e7;
    padding-top: 10px;
    text-align: left;
}