
.SettingsShortcut .FormAction {
    width: 100%;
    position: absolute;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    top: 550px;
    max-width: 850px;
}
.SettingsShortcut .ui-form-values {

}
.SettingsShortcut .ContentContainer {
    padding-top: 0px !important;
}

.SettingsShortcut h3 {
    float: left;
    width: 100%;
    margin-bottom: 0px;
    margin-top: 0;
    background: #12121294;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    text-indent: 48px;
    color: #7c7c7c;
    border-bottom: 1px solid #0e0e0e;
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px, rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
    border-top: 1px solid #0e0e0e;
}

.SettingsShortcut .ui-form-values-input-container {
    float:left;
}
.SettingsShortcut .ContentContainer:last-of-type {
    height: 100vh !important;
}
.SettingsShortcut .ContentContainer:first-of-type {
    height: auto !important;
}


.SettingsShortcut .ContentContainer:last-of-type .ui-form-values{
    
}
.ShortcutAccountSelect {
    padding-top: 27px !important;
}

.SettingsShortcut .ui-form-values ul {
    max-width: 380px;
}

.SettingsShortcut .FormAction a {
    color: white;
    text-decoration: none;
    background: #005068;
    padding: 10px;
    border-radius: 5px;
    font-weight: 700;
    border: 1px solid #00222c;
    float: right;
    max-width: 400px;
    width: 50%;
    text-align: center;
}

.SettingsShortcut .ui-form-labels {
    height: 355px;
    padding-top: 25px;
    max-width: 220px;
}


.SettingsShortcut .ui-form-values {
    height: 355px;
    padding-top: 29px;
}