/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

h1 .MenuAddIcon{
  color: #c3c3c3;
}

.AccountList ul {
  list-style: none;
  width: 100%;
  padding-left: 15px;
  margin: auto;
  box-sizing: border-box;
  text-align: center;
  align-items: flex-end;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  padding-top: 10px;
  justify-content: flex-start;
}

.AccountList ul li {
  list-style: none;
  margin-left: 0px;
  max-width: 370px;
  width: 48%;
  padding-right: 10px;
  height: 55px;
  margin-bottom: 11px;
  border-radius: 3px;
  box-sizing: border-box;
}

