/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

.Page {
  margin-top: 0px;
  margin-left: 150px;
  z-index: 1;
  font-family: system-ui;
}

.PageTopMenu {
  height: 235px;
  box-sizing: border-box;
}

.PageTopMenu div {
  float: left;
  width: 50%;
  max-width: 350px;
  margin: auto;
  padding-top: 10px;
}

.PageTopMenu ul {
  list-style: none;
  margin-left: 0;
  padding-left: 10px;
  margin-top: -1px;
  max-width: 400px;
  box-sizing: border-box;
}

.PageTopMenu ul li .disabled {
  color: #666666 !important;
}

.PageTopMenu ul li {
  margin-bottom: 10px;
  border-bottom: 1px dotted #bdbdbd3d;
  padding-bottom: 11px;
  color: #bdbdbd;
  padding: 5px;
  box-sizing: border-box;
  font-family: system-ui;
  text-shadow: 2px 2px #0e0e0e;
  width: 100%;
}

.PageTopMenu ul li span {
  color: #008d2f;
  font-weight: 700;
  float: right;
  margin-right: 10px;
}


.Page .ContentContainer {
  z-index: 1;
  font-family: system-ui;
  float: left;
  margin: auto;
  width: 100%;
  padding-top: 15px;
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  height: 100vh;
  flex-wrap: wrap;
  background: #181818;
}

.StatCard {
  background: #121212;
  margin-left: 20px;
  border-radius: 4px;
  border-color: #000000;
  color: #8d8d8d;
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px, rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  height: 112px;
  width: 330px !important;
  text-indent: -10px;
  margin-left: 13px !important;
}

.StatCard span {
  float: left;
  width: 100%;
  font-size: 2em;
  color: #6d8d9d;
}

.StatCard label {
  font-size: 0.9em;
}