/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

.Page {
  margin-top: 0px;
  margin-left: 151px;
  z-index: 1;
  font-family: system-ui;
}
:focus {
  outline: -webkit-focus-ring-color auto 0px !important;
}
a:-webkit-any-link:focus-visible {
  outline-offset: 0px !important;
}
:focus-visible {
  outline: -webkit-focus-ring-color auto 0px;
}
.PageTopMenu {
  height: 235px;
  box-sizing: border-box;
  background: #00203021;
}

.PageTopMenu div {
  float: left;
  width: 50%;
  max-width: 350px;
  margin: auto;
  padding-top: 10px;
  position: relative;
    z-index: 3;
}

.PageTopMenu ul {
  list-style: none;
  margin-left: 0;
  padding-left: 14px;
  margin-top: 3px;
  max-width: 400px;
  box-sizing: border-box;
  z-index: 1;
    position: relative;
}

.PageTopMenu ul li .disabled {
  color: #666666 !important;
}

.PageTopMenu ul li {
  margin-bottom: 7px;
  border-bottom: 1px dotted #bdbdbd1a;
  color: #bdbdbd;
  padding: 5px;
  font-family: system-ui;
  width: 100%;
  padding-bottom: 7px;
  box-sizing: border-box;
  padding-top: 2px;
  height: 35px;
  text-indent: 4px;
}

.PageTopMenu ul li span {
  color: #008d2f;
  font-weight: 700;
  float: right;
  margin-right: 10px;
  text-shadow: 1px 1px 5px black;
}


.Page .ContentContainer {
  z-index: 1;
  font-family: system-ui;
  float: left;
  margin: auto;
  width: 100%;
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  height: 100vh;
  flex-wrap: wrap;
}

.StatCard {
  background: #0e0e0ea3;
  border-radius: 4px;
  border-color: #000000;
  color: #8d8d8d;
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px, rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  height: 112px;
  width: 330px !important;
  text-indent: -10px;
  margin-left: 13px !important;
  padding-right: 0px;
}

.StatCard span {
  float: left;
  width: 100%;
  font-size: 2em;
  color: #0086c7 !important;
  text-shadow: -1px 2px 2px #000000;
}
.StatCard div:hover span {
  color: #0086c7 !important;
}
.StatCard label {
  font-size: 0.9em;
}

.StatCPU{
  width: 45% !important;
}

.StatMem {
  width: 55% !important;
}