.ui-form-labels {
    flex: 2;
    box-sizing: border-box;
    text-align: center;
    background: #00000085;
    padding-top: 20px;
    background: #00000085;
    padding-bottom: 20px;
}

.MuiCheckbox-root {
    color: #b5b5b5 !important;
}
.ui-form-labels ul {
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: space-between;
    flex-wrap: nowrap;
    text-align: center;
    flex: 1;
    flex-direction: column;
}

.ui-form-labels ul li {
    padding: 5px;
    padding-left: 0px;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 50px;
    box-sizing: border-box;
    color: #cbcbcbd1;
    padding-top: 13px;
    text-shadow: -2px 4px 6px black;
    width: 100%;
}