.SettingsDriver .ui-form-labels {
    padding-top: 30px;
    margin-top: 0px;
    height: 356px !important;
}


.SettingsDriver .ui-form-values {
    height: 355px;
    padding-top: 29px;
}

.SettingsDriver .ComingSoon {
    height: 355px;
    position: relative;
    top: 0;
    left: 0;
    background: #00000078;
}