.SettingsApi .ui-form-values-text {
    width: 100px;
    text-align: center;
}

.SettingsApi .ui-form-values {
    padding-bottom: 20px;
    padding-top: 0px;
    width: 70%;
}

.SettingsApi .ContentContainer {
    height: auto !important;
    padding-top: 15px !important;
}

.SettingsApi h3 {
    float: left;
    width: 100%;
    margin-bottom: 0px;
    margin-top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    text-indent: 48px;
    color: #939393;
}

.SettingsApi {
    background: #0c0c0c;
}
.SettingsApi .ContentContainer:last-of-type {
    height: 100vh !important;
}

.ApiEndpointSelect {
    margin-bottom: 3px;
    font-size: 1.1em;
    margin-top: 7px;
    font-weight: 600;
    padding-top: 22px !important;
    height: 65px !important;
    text-shadow: none !important;
}



.SettingsApi .ui-form-value-empty {
    margin-bottom: 4px;
    height: 65px !important;
}

.SettingsApi .ui-form-labels {
    width: 30%;
    max-width: 275px;
    text-indent: 25px;
    padding-top: 0px;
}

.SettingsApi .ui-form-values {
  
}

.SettingsApi .ui-form-values ul {
    margin-top: 9px;
    max-width: 200px;
}
