/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

 @font-face {
  font-family: 'exocet';
  src: url('../../assets/exocet.ttf');
}

body {
  color: white;
  height: 100vh;
  background: linear-gradient(
200.96deg, #000000 -29.09%, #262626 51.77%, #000000 129.35%);
  font-family: exocet;
  overflow-y: hidden;
  margin: 0;
  overflow-x: hidden;
}
