.OnboardingInnerAccount {
    width: 60%;
    margin: auto;
    background: #00000000;
    padding: 30px;
    padding-top: 25px;
    height: 375px;
    font-family: system-ui;
    font-size: 0.95em;
}

.currentGameAccounts {
    padding: 5px;
    width: 100%;
    text-align: center;
    padding-top: 20px;
}

.addAccountIcon {
    background: #878787b8;
    padding: 5px;
    border-radius: 5px;
    float: left;
    color: #100f0e;
}

.currentGameAccounts span {
    margin-top: 5px;
    float: right;
    width: 70%;
    text-align: left;
    color: grey;
}