.OnboardingMenu{
    list-style: none;
    display: flex;
    text-align: center;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between;
    padding-left: 0px;
    background: #121212;
}

.OnboardingMenu ul li span {
    float: left;
    width: 100%;
    color: #878787;
    margin-bottom: 9px;
}

.OnboardingMenu ul {
    list-style: none;
    display: flex;
    text-align: center;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    font-size: 0.9em;
    width: 90%;
    padding-left: 0px;
    margin: auto;
    flex-wrap: wrap;
    align-items: center;
}

.OnboardingMenu a {
    color: inherit;
    text-decoration: none;
}

.OnboardingMenu ul li {
box-sizing: border-box;
    padding-top: 9px;
    height: 70px;
    padding-bottom: 8px;
}
.OnboardingMenu ul .active li {
    background: #100f0e;
    color: black;
}

.OnboardingMenu ul .active li span {
    color: #d99434;
}
.OnboardingMenu ul .active li label {
    color: #d99434;
}

