/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
.Accounts {
  background: pink;
}

h1 .MenuAddIcon{
  width: 1.5rem;
    height: 1.5rem;
    float: right;
    margin-right: 13px;
    margin-top: 0px;
    color: white;
}
.AccountList ul {
  list-style: none;
  margin-left: 0px;
  padding-left: 15px;
}
.AccountList ul li {
  border: 1px solid #bfbfbf;
  margin-right: 20px;
  border-radius: 11px;
  margin-bottom: 10px;
  background: white;
  color: black;
  padding: 10px;
  height: 40px;
  padding-top: 14px;
}

.actIcons{
  float: right;
  color: #2a2a2a;
  margin-top: 7px;
  margin-right: 5px;
}

.LaunchIcon, .RefreshIcon, .EditIcon {
  float: right;
  background: #0063df;
  padding: 8px;
  margin-top: -12px;
  border-radius: 3px;
  margin-left: 10px;
  color: white;
  box-shadow: 1px 1px 3px 1px rgb(151 151 151 / 77%);
}

.RefreshIcon {
  background: #0c9103;
}

.EditIcon {
  background: #3a3a3a;
}

.AccountList label {
  float: left;
  background: #0e0e0e;
  margin-top: -15px;
  margin-left: -11px;
  height: 66px;
  color: #d99434;
  padding-top: 18px;
  box-sizing: border-box;
  padding-left: 11px;
  font-size: 1.5em;
  width: 240px;
  border: 1px solid #000000;
  border-radius: 7px;
}