.AccountHotkey .FormValues ul {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

.AccountHotkey .FormValues li {
    padding-top: 5px;
    padding-bottom: 8px;
    color: black;
}

.AccountHotkey .FormValues .MenuAddIcon {
    width: 1.5rem;
    height: 1.5rem;
    color: white;
    margin-right: 40px;
    margin-top: 6px;
}

.AccountHotkey {
    display: flex;
    width: 500px;
    flex-wrap: wrap;
}

.AccountHotkey .SelectBox{
    margin-top: 7px;
}

.AccountHotkey .SelectBox input{
    text-indent: -10px;
}